<div>
    <side-nav-option *ngIf="serverConnection.hasAdminAccess()" [icon]="'person'" [componentText]="'Users'" (buttonCallback)="selectMainScreen('Users')"></side-nav-option>
    <side-nav-option *ngIf="serverConnection.hasManagerAccess()" [icon]="'location_city'" [componentText]="'Locations'" (buttonCallback)="selectMainScreen('Locations')"></side-nav-option>
    <side-nav-option [icon]="'calendar_today'" [componentText]="'Calendar'" (buttonCallback)="selectMainScreen('Calendar')"></side-nav-option>
</div>
