<div style="height: 100%;">
    <div>
        Agenda 
    </div>
    <div>
        <mat-dialog-content  style="display: flex; flex-direction: row; justify-content: flex-start;">
            <mat-form-field *ngIf="serverConnection.hasAdminAccess()" style="margin-right: 20px;" appearance="fill">
                <mat-label>Usuários</mat-label>
                <mat-select  [(ngModel)]="selectedUserId">
                    <mat-option  *ngFor="let user of users" [value]="user.Id">{{user.Name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="serverConnection.hasManagerAccess()" appearance="fill">
                <mat-label>Endereços</mat-label>
                <mat-select  [(ngModel)]="selectedLocationId">
                    <mat-option  *ngFor="let location of locations" [value]="location.Id">{{location.Name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-dialog-content>
        
    </div>

    <full-calendar [options]="calendarOptions"></full-calendar>
</div>
